<div class="jumbotron">
  <h1 class="margin-jumbotron">Share your think</h1>


  <p>
    <%= link_to "Sign up With Twitter", '#', class: "btn btn-info btn-fill btn-lg" %>
    <%= link_to "Sign up With Facebook", '#', class: "btn btn-primary btn-fill btn-lg" %>
  </p>

</div>
