<div class="jumbotron">
  <h1 class="margin-jumbotron thin">Share your thinking</h1>


  <p>
    <%= link_to "#", class: "btn btn-info btn-fill btn-lg social-style" do %>
        <i class="fa fa-twitter fa-lg"> Sign up With Twitter</i>

  <% end %>
    <%= link_to '#', class: "btn btn-primary btn-fill btn-lg social-style" do %>
        <i class="fa fa-facebook-square fa-lg"> Sign up With Facebook</i>

    <% end %>
  </p>

</div>
